Linkedin_Lead_Generation.json
{
  "name": "Linkedin_Lead_Generation",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -80,
        2200
      ],
      "id": "0549bb29-f800-4a2d-a975-f8abc6f3ddd4",
      "name": "When clicking ‘Test workflow’"
    },
    {
      "parameters": {
        "content": "## 1. Apify Actor \n**Generating leads using apollo**",
        "height": 300,
        "width": 540,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        0,
        680
      ],
      "id": "70de352f-1264-43e2-a2d3-43eb506262bb",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.apify.com/v2/acts/supreme_coder~apollo-scraper/run-sync-get-dataset-items?token=apify_api_UrXXZQtI8XeXypKIXZAFI16D8Az3ld20R4hZ",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "{\n    \"count\": 100,\n    \"excludeGuessedEmails\": false,\n    \"excludeNoEmails\": false,\n    \"getEmails\": true,\n    \"searchUrl\": \"https://app.apollo.io/#/people?page=1&contactEmailExcludeCatchAll=true&qPersonPersonaIds[]=67e80921fff419000d1d100f&qPersonPersonaIds[]=67e80921fff419001d3365e9&sortAscending=false&sortByField=recommendations_score&personLocations[]=United%20States\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        100,
        820
      ],
      "id": "6bbf2971-6b60-46cb-8658-15ef4ef67537",
      "name": "Apify_Scraper"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        700,
        1620
      ],
      "id": "08d9e43a-a094-4288-b158-7836dacdd680",
      "name": "Loop Over Items"
    },
    {
      "parameters": {
        "operation": "getProfileData",
        "linkedinUrl": "={{ $('Loop Over Items').item.json.linkedInProfileUrl }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-browserflow.browserflow",
      "typeVersion": 1,
      "position": [
        1360,
        1460
      ],
      "id": "b524d9c5-e585-4239-b29f-46bbbb2e8482",
      "name": "getprofile",
      "credentials": {
        "browserflowApi": {
          "id": "DUyEVqqKkLsVjtYm",
          "name": "Browserflow account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dd3093a1-2b99-4648-b89b-aca9d60edb0e",
              "leftValue": "={{ $json.is_connection }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "2037a5e7-5745-4131-8508-7bb01ff66ca2",
              "leftValue": "={{ $json.is_pending }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1280,
        2360
      ],
      "id": "88ca6489-1c67-4e9d-bc5a-5796ef0c527a",
      "name": "If2"
    },
    {
      "parameters": {
        "operation": "sendConnectionInvite",
        "linkedinUrl": "={{ $('getprofile').item.json.data.url }}",
        "addMessage": true,
        "message": "=",
        "requestOptions": {}
      },
      "type": "n8n-nodes-browserflow.browserflow",
      "typeVersion": 1,
      "position": [
        1880,
        1300
      ],
      "id": "1136d1e7-a15e-4698-8c4a-fead3ffb7f26",
      "name": "sendconnectionrequest",
      "credentials": {
        "browserflowApi": {
          "id": "DUyEVqqKkLsVjtYm",
          "name": "Browserflow account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "linkedinUrl": "={{ $json.linkedInProfileUrl }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-browserflow.browserflow",
      "typeVersion": 1,
      "position": [
        920,
        1460
      ],
      "id": "8af76a20-0382-450a-9cb8-edbf408d6bf6",
      "name": "checkifconnected",
      "credentials": {
        "browserflowApi": {
          "id": "DUyEVqqKkLsVjtYm",
          "name": "Browserflow account"
        }
      }
    },
    {
      "parameters": {
        "content": "## 3. Get Profiles from Post",
        "height": 580,
        "width": 2020,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        60,
        2080
      ],
      "id": "5cf88c17-5f2c-46f7-9153-8da7b7ec1ac3",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 2. Send Connection Request",
        "height": 700,
        "width": 2100,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        20,
        1160
      ],
      "id": "94102e13-92d5-4b16-9327-3e994b2523aa",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appGH3ovfCuqRlSCm",
          "mode": "list",
          "cachedResultName": "Linkedin_Lead_List",
          "cachedResultUrl": "https://airtable.com/appGH3ovfCuqRlSCm"
        },
        "table": {
          "__rl": true,
          "value": "tbleVPRoowVSoH2Xl",
          "mode": "list",
          "cachedResultName": "lead_lead",
          "cachedResultUrl": "https://airtable.com/appGH3ovfCuqRlSCm/tbleVPRoowVSoH2Xl"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "firstName": "={{ $json.firstName }}",
            "lastName": "={{ $json.lastName }}",
            "emailAddress": "={{ $json.emailAddress }}",
            "headline": "={{ $json.headline }}",
            "linkedInProfileUrl": "={{ $json.linkedInProfileUrl }}",
            "emailStatus": "={{ $json.emailStatus }}",
            "profilePictureUrl": "={{ $json.profilePictureUrl }}",
            "twitterProfileUrl": "={{ $json.twitterProfileUrl }}",
            "githubProfileUrl": "={{ $json.githubProfileUrl }}",
            "facebookProfileUrl": "={{ $json.facebookProfileUrl }}",
            "companyId": "={{ $json.companyId }}",
            "stateName": "={{ $json.stateName }}",
            "cityName": "={{ $json.cityName }}",
            "countryName": "={{ $json.countryName }}",
            "likelyToEngage": "=",
            "departmentNames": "=",
            "subDepartmentNames": "={{ $json.departmentNames[0] }}",
            "jobSeniority": "={{ $json.jobSeniority }}",
            "jobFunctions": "={{ $json.jobFunctions[0] }}",
            "contactPhoneNumbers": "={{ $json.contactPhoneNumbers[0].rawNumber }}",
            "intentStrength": "={{ $json.intentStrength }}",
            "displayIntent": "=",
            "catchallEmailDomain": "=",
            "companyName": "={{ $json.companyName }}",
            "rawAddress": "={{ $json.rawAddress }}",
            "linkedInUserId": "={{ $json.linkedInUserId }}",
            "salesforceUserId": "={{ $json.salesforceUserId }}",
            "creationDate": "={{ $json.creationDate }}",
            "sourceOfEmail": "={{ $json.sourceOfEmail }}",
            "lastActiveDate": "={{ $json.lastActiveDate }}",
            "hubspotVisitorId": "={{ $json.hubspotVisitorId }}",
            "hubspotOrgId": "={{ $json.hubspotOrgId }}",
            "cleanedPhoneNumber": "={{ $json.cleanedPhoneNumber }}",
            "lastUpdatedDate": "={{ $json.lastUpdatedDate }}",
            "presenceLevel": "={{ $json.presenceLevel }}",
            "customerProvidedEmail": "={{ $json.customerProvidedEmail }}",
            "emailUnavailableReason": "={{ $json.emailUnavailableReason }}",
            "verifiedEmailStatus": "={{ $json.verifiedEmailStatus }}",
            "userTimeZone": "={{ $json.userTimeZone }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "emailAddress",
              "displayName": "emailAddress",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "headline",
              "displayName": "headline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "linkedInProfileUrl",
              "displayName": "linkedInProfileUrl",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "emailStatus",
              "displayName": "emailStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "profilePictureUrl",
              "displayName": "profilePictureUrl",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "twitterProfileUrl",
              "displayName": "twitterProfileUrl",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "githubProfileUrl",
              "displayName": "githubProfileUrl",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "facebookProfileUrl",
              "displayName": "facebookProfileUrl",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "companyId",
              "displayName": "companyId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "stateName",
              "displayName": "stateName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cityName",
              "displayName": "cityName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "countryName",
              "displayName": "countryName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "likelyToEngage",
              "displayName": "likelyToEngage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "departmentNames",
              "displayName": "departmentNames",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subDepartmentNames",
              "displayName": "subDepartmentNames",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "jobSeniority",
              "displayName": "jobSeniority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "jobFunctions",
              "displayName": "jobFunctions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "contactPhoneNumbers",
              "displayName": "contactPhoneNumbers",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "intentStrength",
              "displayName": "intentStrength",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "displayIntent",
              "displayName": "displayIntent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "catchallEmailDomain",
              "displayName": "catchallEmailDomain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "rawAddress",
              "displayName": "rawAddress",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "linkedInUserId",
              "displayName": "linkedInUserId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "salesforceUserId",
              "displayName": "salesforceUserId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "creationDate",
              "displayName": "creationDate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sourceOfEmail",
              "displayName": "sourceOfEmail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastActiveDate",
              "displayName": "lastActiveDate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "hubspotVisitorId",
              "displayName": "hubspotVisitorId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "hubspotOrgId",
              "displayName": "hubspotOrgId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cleanedPhoneNumber",
              "displayName": "cleanedPhoneNumber",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastUpdatedDate",
              "displayName": "lastUpdatedDate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "presenceLevel",
              "displayName": "presenceLevel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerProvidedEmail",
              "displayName": "customerProvidedEmail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "emailUnavailableReason",
              "displayName": "emailUnavailableReason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "verifiedEmailStatus",
              "displayName": "verifiedEmailStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "userTimeZone",
              "displayName": "userTimeZone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        300,
        800
      ],
      "id": "02685851-5144-4596-a16a-e344a4d404ce",
      "name": "Lead_List",
      "credentials": {
        "airtableTokenApi": {
          "id": "pYSSGlkosBqD4Hhd",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "search",
        "base": {
          "__rl": true,
          "value": "appGH3ovfCuqRlSCm",
          "mode": "list",
          "cachedResultName": "Linkedin_Lead_List",
          "cachedResultUrl": "https://airtable.com/appGH3ovfCuqRlSCm"
        },
        "table": {
          "__rl": true,
          "value": "tbleVPRoowVSoH2Xl",
          "mode": "list",
          "cachedResultName": "lead_lead",
          "cachedResultUrl": "https://airtable.com/appGH3ovfCuqRlSCm/tbleVPRoowVSoH2Xl"
        },
        "filterByFormula": "linkedInProfileUrl",
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        260,
        1620
      ],
      "id": "b03a1334-b0de-425f-b737-f1a3e5d02184",
      "name": "Lead_List1",
      "credentials": {
        "airtableTokenApi": {
          "id": "pYSSGlkosBqD4Hhd",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "5f64710b-8763-4b3b-a7ec-21be1a15f18b",
              "leftValue": "={{ $json.connected }}",
              "rightValue": "No",
              "operator": {
                "type": "string",
                "operation": "contains"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        480,
        1620
      ],
      "id": "f8bed84c-5d8a-4d34-954b-68a8a909ef16",
      "name": "If_Not_Connected"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "dd3093a1-2b99-4648-b89b-aca9d60edb0e",
              "leftValue": "={{ $json.is_connection }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            },
            {
              "id": "2037a5e7-5745-4131-8508-7bb01ff66ca2",
              "leftValue": "={{ $json.is_pending }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1140,
        1460
      ],
      "id": "66a0c555-5547-42ce-884b-a39414754c65",
      "name": "If_Not_Connected_True"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=<input>\nName:  {{ $json.data.name }}\nMost recent experience: {{ $json.data.experience[0] }}\n<input>",
        "messages": {
          "messageValues": [
            {
              "message": "You create concise, accurate linkedin connection messages. Replacing any {placeholders} [Your Name] = Debajit Raha"
            }
          ]
        }
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.6,
      "position": [
        1540,
        1220
      ],
      "id": "82b86a3e-90f2-4e5d-8e74-38836a4cb683",
      "name": "Send_custom_message"
    },
    {
      "parameters": {
        "linkedinUrl": "={{ $json.fields.linkedinurl }}",
        "requestOptions": {}
      },
      "type": "n8n-nodes-browserflow.browserflow",
      "typeVersion": 1,
      "position": [
        1060,
        2360
      ],
      "id": "aa20205c-e100-45c7-8b4b-58fed446d9c9",
      "name": "CheckifConnected",
      "credentials": {
        "browserflowApi": {
          "id": "DUyEVqqKkLsVjtYm",
          "name": "Browserflow account"
        }
      }
    },
    {
      "parameters": {
        "operation": "sendConnectionInvite",
        "linkedinUrl": "={{ $('getprofile').item.json.data.url }}",
        "addMessage": true,
        "message": "=",
        "requestOptions": {}
      },
      "type": "n8n-nodes-browserflow.browserflow",
      "typeVersion": 1,
      "position": [
        1560,
        2220
      ],
      "id": "331cfc1b-eb33-408f-9390-76d88c11383a",
      "name": "SendConnectionRequest",
      "credentials": {
        "browserflowApi": {
          "id": "DUyEVqqKkLsVjtYm",
          "name": "Browserflow account"
        }
      },
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "operation": "sendMessage",
        "requestOptions": {}
      },
      "type": "n8n-nodes-browserflow.browserflow",
      "typeVersion": 1,
      "position": [
        1560,
        2460
      ],
      "id": "949f4027-8f98-44ce-afd9-e1a712733a9f",
      "name": "SendLinkedinMessage",
      "credentials": {
        "browserflowApi": {
          "id": "DUyEVqqKkLsVjtYm",
          "name": "Browserflow account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "base": {
          "__rl": true,
          "value": "appGH3ovfCuqRlSCm",
          "mode": "list",
          "cachedResultName": "Linkedin_Lead_List",
          "cachedResultUrl": "https://airtable.com/appGH3ovfCuqRlSCm"
        },
        "table": {
          "__rl": true,
          "value": "tbleVPRoowVSoH2Xl",
          "mode": "list",
          "cachedResultName": "lead_lead",
          "cachedResultUrl": "https://airtable.com/appGH3ovfCuqRlSCm/tbleVPRoowVSoH2Xl"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "connected": "Yes",
            "linkedInProfileUrl": "={{ $('Lead_List1').item.json.linkedInProfileUrl }}"
          },
          "matchingColumns": [
            "linkedInProfileUrl"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "connected",
              "displayName": "connected",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yes",
                  "value": "Yes"
                },
                {
                  "name": "No",
                  "value": "No"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "firstName",
              "displayName": "firstName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastName",
              "displayName": "lastName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "emailAddress",
              "displayName": "emailAddress",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "headline",
              "displayName": "headline",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "linkedInProfileUrl",
              "displayName": "linkedInProfileUrl",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "emailStatus",
              "displayName": "emailStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "profilePictureUrl",
              "displayName": "profilePictureUrl",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "twitterProfileUrl",
              "displayName": "twitterProfileUrl",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "githubProfileUrl",
              "displayName": "githubProfileUrl",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "facebookProfileUrl",
              "displayName": "facebookProfileUrl",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "companyId",
              "displayName": "companyId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "stateName",
              "displayName": "stateName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cityName",
              "displayName": "cityName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "countryName",
              "displayName": "countryName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "likelyToEngage",
              "displayName": "likelyToEngage",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "departmentNames",
              "displayName": "departmentNames",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "subDepartmentNames",
              "displayName": "subDepartmentNames",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "jobSeniority",
              "displayName": "jobSeniority",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "jobFunctions",
              "displayName": "jobFunctions",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "contactPhoneNumbers",
              "displayName": "contactPhoneNumbers",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "intentStrength",
              "displayName": "intentStrength",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "displayIntent",
              "displayName": "displayIntent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "catchallEmailDomain",
              "displayName": "catchallEmailDomain",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "companyName",
              "displayName": "companyName",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "rawAddress",
              "displayName": "rawAddress",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "linkedInUserId",
              "displayName": "linkedInUserId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "salesforceUserId",
              "displayName": "salesforceUserId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "creationDate",
              "displayName": "creationDate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "sourceOfEmail",
              "displayName": "sourceOfEmail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastActiveDate",
              "displayName": "lastActiveDate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "hubspotVisitorId",
              "displayName": "hubspotVisitorId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "hubspotOrgId",
              "displayName": "hubspotOrgId",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "cleanedPhoneNumber",
              "displayName": "cleanedPhoneNumber",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "lastUpdatedDate",
              "displayName": "lastUpdatedDate",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "presenceLevel",
              "displayName": "presenceLevel",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "customerProvidedEmail",
              "displayName": "customerProvidedEmail",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "emailUnavailableReason",
              "displayName": "emailUnavailableReason",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "verifiedEmailStatus",
              "displayName": "verifiedEmailStatus",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "userTimeZone",
              "displayName": "userTimeZone",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1800,
        1540
      ],
      "id": "13405694-7fc3-4564-aafc-fefd66572b00",
      "name": "UpdateConnectionStatus",
      "credentials": {
        "airtableTokenApi": {
          "id": "pYSSGlkosBqD4Hhd",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "scrapeProfilesFromPostComments",
        "postUrl": "https://www.linkedin.com/feed/update/urn:li:activity:7313212284594442240/",
        "addComments": true,
        "addReactions": true,
        "requestOptions": {}
      },
      "type": "n8n-nodes-browserflow.browserflow",
      "typeVersion": 1,
      "position": [
        180,
        2360
      ],
      "id": "3c6cc9f5-098a-4de2-9d82-40de1921d893",
      "name": "Get_Profiles",
      "credentials": {
        "browserflowApi": {
          "id": "DUyEVqqKkLsVjtYm",
          "name": "Browserflow account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "return $json.data.map(item => ({\n    Name: item.name,\n    LinkedIn_URL: item.linkedin_url\n}));"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        400,
        2360
      ],
      "id": "88e07210-e9ca-466e-bf8f-2062dba2e659",
      "name": "Change_Data_Structure"
    },
    {
      "parameters": {
        "operation": "create",
        "base": {
          "__rl": true,
          "value": "appGH3ovfCuqRlSCm",
          "mode": "list",
          "cachedResultName": "Linkedin_Lead_List",
          "cachedResultUrl": "https://airtable.com/appGH3ovfCuqRlSCm"
        },
        "table": {
          "__rl": true,
          "value": "tblr7148amF1Q1lt2",
          "mode": "list",
          "cachedResultName": "whoreacted",
          "cachedResultUrl": "https://airtable.com/appGH3ovfCuqRlSCm/tblr7148amF1Q1lt2"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Name": "={{ $json.Name }}",
            "linkedinurl": "={{ $json.LinkedIn_URL }}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "linkedinurl",
              "displayName": "linkedinurl",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        620,
        2360
      ],
      "id": "2fe5832e-f9d4-46b5-a8b1-1478f41a65f9",
      "name": "Store_Profiles",
      "credentials": {
        "airtableTokenApi": {
          "id": "pYSSGlkosBqD4Hhd",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        840,
        2360
      ],
      "id": "93a23b33-d098-4dcd-9118-fb2ccdf96156",
      "name": "loop"
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appGH3ovfCuqRlSCm",
          "mode": "list",
          "cachedResultName": "Linkedin_Lead_List",
          "cachedResultUrl": "https://airtable.com/appGH3ovfCuqRlSCm"
        },
        "table": {
          "__rl": true,
          "value": "tblr7148amF1Q1lt2",
          "mode": "list",
          "cachedResultName": "whoreacted",
          "cachedResultUrl": "https://airtable.com/appGH3ovfCuqRlSCm/tblr7148amF1Q1lt2"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "MessageSent": "Yes",
            "ConnectionSent": "Yes"
          },
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "linkedinurl",
              "displayName": "linkedinurl",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MessageSent",
              "displayName": "MessageSent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yes",
                  "value": "Yes"
                },
                {
                  "name": "No",
                  "value": "No"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ConnectionSent",
              "displayName": "ConnectionSent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yes",
                  "value": "Yes"
                },
                {
                  "name": "No",
                  "value": "No"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1800,
        2240
      ],
      "id": "945f5325-3eec-4e99-b23e-6c5104141799",
      "name": "Update_Connection_Status",
      "credentials": {
        "airtableTokenApi": {
          "id": "pYSSGlkosBqD4Hhd",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "base": {
          "__rl": true,
          "value": "appGH3ovfCuqRlSCm",
          "mode": "list",
          "cachedResultName": "Linkedin_Lead_List",
          "cachedResultUrl": "https://airtable.com/appGH3ovfCuqRlSCm"
        },
        "table": {
          "__rl": true,
          "value": "tblr7148amF1Q1lt2",
          "mode": "list",
          "cachedResultName": "whoreacted",
          "cachedResultUrl": "https://airtable.com/appGH3ovfCuqRlSCm/tblr7148amF1Q1lt2"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [
            "id"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "string",
              "readOnly": true,
              "removed": false
            },
            {
              "id": "Name",
              "displayName": "Name",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "linkedinurl",
              "displayName": "linkedinurl",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "MessageSent",
              "displayName": "MessageSent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yes",
                  "value": "Yes"
                },
                {
                  "name": "No",
                  "value": "No"
                }
              ],
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ConnectionSent",
              "displayName": "ConnectionSent",
              "required": false,
              "defaultMatch": false,
              "canBeUsedToMatch": true,
              "display": true,
              "type": "options",
              "options": [
                {
                  "name": "Yes",
                  "value": "Yes"
                },
                {
                  "name": "No",
                  "value": "No"
                }
              ],
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.airtable",
      "typeVersion": 2.1,
      "position": [
        1780,
        2460
      ],
      "id": "06522bed-4059-422c-81bc-fddb2a4ed4ac",
      "name": "Update_MessageSent_Status",
      "credentials": {
        "airtableTokenApi": {
          "id": "pYSSGlkosBqD4Hhd",
          "name": "Airtable Personal Access Token account 2"
        }
      }
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o-mini"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.2,
      "position": [
        1600,
        1380
      ],
      "id": "55e00a84-e6c6-46da-b816-ff21e653be7d",
      "name": "OpenAI",
      "credentials": {
        "openAiApi": {
          "id": "2CaY9511fEZfG8WL",
          "name": "OpenAi account"
        }
      }
    }
  ],
  "pinData": {
    "Lead_List1": [
      {
        "json": {
          "id": "64d5d7ba2fc5d70001dbcd7d",
          "createdTime": "2025-04-02T10:33:20.000Z",
          "firstName": "Brooke",
          "lastName": "Elfenbein",
          "emailAddress": "brooke@brilliantprm.com",
          "headline": "Senior Campaign Manager",
          "linkedInProfileUrl": "http://www.linkedin.com/in/brooke-schwartzman-elfenbein",
          "emailStatus": "verified",
          "companyId": "5d09833880f93e4e87f17e10",
          "stateName": "Texas",
          "cityName": "Dallas",
          "countryName": "United States",
          "jobSeniority": "manager",
          "contactPhoneNumbers": "+1 888-808-4465",
          "companyName": "Brilliant PR & Marketing",
          "rawAddress": "Dallas-Fort Worth Metroplex",
          "creationDate": "2024-08-04T00:27:51.242Z",
          "sourceOfEmail": "crm_csv",
          "cleanedPhoneNumber": "+18888084465",
          "lastUpdatedDate": "2024-08-04T00:27:51.242Z",
          "presenceLevel": "full",
          "verifiedEmailStatus": "Verifying",
          "userTimeZone": "America/Chicago",
          "connected": "Yes"
        }
      },
      {
        "json": {
          "id": "66f408b4d7b3250001b80435",
          "createdTime": "2025-04-02T10:33:29.000Z",
          "firstName": "Aaron",
          "lastName": "Nosbisch",
          "emailAddress": "aaron@drinkbrez.com",
          "headline": "Founder & CEO",
          "linkedInProfileUrl": "http://www.linkedin.com/in/aaronnosbisch",
          "emailStatus": "verified",
          "companyId": "643dc51671e41e00a3a2a3ce",
          "stateName": "Florida",
          "cityName": "Palm Beach",
          "countryName": "United States",
          "subDepartmentNames": "c_suite",
          "jobSeniority": "founder",
          "jobFunctions": "entrepreneurship",
          "contactPhoneNumbers": "+1 954-480-3140",
          "companyName": "BRĒZ",
          "rawAddress": "Palm Beach, Florida, United States",
          "linkedInUserId": "306221245",
          "creationDate": "2025-03-13T16:08:43.256Z",
          "sourceOfEmail": "emailer_message_inbound",
          "cleanedPhoneNumber": "+19544803140",
          "lastUpdatedDate": "2025-03-13T16:08:43.256Z",
          "presenceLevel": "full",
          "verifiedEmailStatus": "Verifying",
          "userTimeZone": "America/New_York",
          "connected": "Yes"
        }
      },
      {
        "json": {
          "id": "66f3e7fe5345a10001a56fdc",
          "createdTime": "2025-04-02T10:33:27.000Z",
          "firstName": "Will",
          "lastName": "Nitze",
          "emailAddress": "willn@eatiqbar.com",
          "headline": "Founder/CEO",
          "linkedInProfileUrl": "http://www.linkedin.com/in/will-nitze-1363b346",
          "emailStatus": "verified",
          "companyId": "5b13b3c2a6da98dcb8956ed6",
          "stateName": "Florida",
          "cityName": "Miami Beach",
          "countryName": "United States",
          "subDepartmentNames": "c_suite",
          "jobSeniority": "founder",
          "jobFunctions": "entrepreneurship",
          "contactPhoneNumbers": "+1 202-834-1086",
          "companyName": "IQBAR",
          "rawAddress": "Miami Beach, Florida, United States",
          "linkedInUserId": "162223098",
          "creationDate": "2025-03-25T20:01:28.199Z",
          "sourceOfEmail": "gmail_directory",
          "cleanedPhoneNumber": "+12028341086",
          "lastUpdatedDate": "2025-03-25T20:01:28.199Z",
          "presenceLevel": "full",
          "verifiedEmailStatus": "Verifying",
          "userTimeZone": "America/New_York",
          "connected": "Yes"
        }
      },
      {
        "json": {
          "id": "60630ce484d6590001e15cf0",
          "createdTime": "2025-04-02T10:33:10.000Z",
          "firstName": "Jay",
          "lastName": "Perkins",
          "emailAddress": "jay@tendedbar.com",
          "headline": "Founder",
          "linkedInProfileUrl": "http://www.linkedin.com/in/perkinsjay",
          "emailStatus": "verified",
          "companyId": "55ecf728f3e5bb16c4002180",
          "stateName": "Florida",
          "cityName": "Jacksonville",
          "countryName": "United States",
          "subDepartmentNames": "c_suite",
          "jobSeniority": "founder",
          "jobFunctions": "entrepreneurship",
          "contactPhoneNumbers": "+1 585-490-2774",
          "companyName": "TendedBar",
          "rawAddress": "Jacksonville, Florida, United States",
          "creationDate": "2025-03-28T05:11:53.997Z",
          "sourceOfEmail": "crm_csv",
          "cleanedPhoneNumber": "+15854902774",
          "lastUpdatedDate": "2025-03-28T05:11:53.997Z",
          "presenceLevel": "full",
          "verifiedEmailStatus": "Verifying",
          "userTimeZone": "America/New_York",
          "connected": "Yes"
        }
      },
      {
        "json": {
          "id": "6104e1b461ba0300018f9ff8",
          "createdTime": "2025-04-02T10:33:17.000Z",
          "firstName": "Emilio",
          "lastName": "Dominguez",
          "emailAddress": "e@dreamersonlyhg.com",
          "headline": "Founder",
          "linkedInProfileUrl": "http://www.linkedin.com/in/emiliodomi",
          "emailStatus": "verified",
          "companyId": "62ed4e175c6c7100a398332d",
          "stateName": "Florida",
          "cityName": "Boca Raton",
          "countryName": "United States",
          "subDepartmentNames": "c_suite",
          "jobSeniority": "founder",
          "jobFunctions": "entrepreneurship",
          "contactPhoneNumbers": "+1 561-927-5469",
          "companyName": "Dreamers Only Hospitality Group",
          "rawAddress": "Boca Raton, Florida, United States",
          "linkedInUserId": "142521105",
          "creationDate": "2025-03-17T16:46:35.746Z",
          "sourceOfEmail": "crm_csv",
          "cleanedPhoneNumber": "+15619275469",
          "lastUpdatedDate": "2025-03-17T16:46:36.288Z",
          "presenceLevel": "full",
          "verifiedEmailStatus": "Verifying",
          "userTimeZone": "America/New_York",
          "connected": "Yes"
        }
      },
      {
        "json": {
          "id": "66f527c0bcaee70001738cdc",
          "createdTime": "2025-04-02T10:33:31.000Z",
          "firstName": "Ross",
          "lastName": "Franklin",
          "emailAddress": "ross@puregreenfranchise.com",
          "headline": "Founder & CEO",
          "linkedInProfileUrl": "http://www.linkedin.com/in/rossfranklin",
          "emailStatus": "verified",
          "companyId": "5e56f41cff5f2800015ca134",
          "stateName": "Florida",
          "cityName": "Boca Raton",
          "countryName": "United States",
          "subDepartmentNames": "c_suite",
          "jobSeniority": "founder",
          "jobFunctions": "entrepreneurship",
          "contactPhoneNumbers": "+1 773-904-7013",
          "companyName": "Pure Green Franchise",
          "rawAddress": "Boca Raton, Florida, United States",
          "linkedInUserId": "31821104",
          "creationDate": "2025-03-13T16:07:32.756Z",
          "sourceOfEmail": "crm_csv",
          "cleanedPhoneNumber": "+17739047013",
          "lastUpdatedDate": "2025-03-13T16:07:32.756Z",
          "presenceLevel": "full",
          "verifiedEmailStatus": "Verifying",
          "userTimeZone": "America/New_York",
          "connected": "Yes"
        }
      },
      {
        "json": {
          "id": "66f54e2cc14266000126f1ae",
          "createdTime": "2025-04-02T10:33:33.000Z",
          "firstName": "Christopher",
          "lastName": "Hunter",
          "emailAddress": "christopher@drinkkoia.com",
          "headline": "Co-Founder / CEO",
          "linkedInProfileUrl": "http://www.linkedin.com/in/christopher-hunter-890a2315",
          "emailStatus": "verified",
          "companyId": "5a9dd884a6da98d96d81ef4f",
          "stateName": "Florida",
          "cityName": "Miami",
          "countryName": "United States",
          "subDepartmentNames": "c_suite",
          "jobSeniority": "founder",
          "jobFunctions": "entrepreneurship",
          "companyName": "Koia",
          "rawAddress": "Miami, Florida, United States",
          "creationDate": "2025-03-29T16:38:22.933Z",
          "sourceOfEmail": "emailer_message_outbound",
          "lastUpdatedDate": "2025-03-29T16:38:22.933Z",
          "presenceLevel": "full",
          "verifiedEmailStatus": "Verifying",
          "userTimeZone": "America/New_York",
          "connected": "Yes"
        }
      },
      {
        "json": {
          "id": "54ebcff5746869444c84c72a",
          "createdTime": "2025-04-02T10:33:08.000Z",
          "firstName": "Yaniv",
          "lastName": "Simpson",
          "emailAddress": "yaniv@theconsciousbar.co",
          "headline": "Founder & CEO",
          "linkedInProfileUrl": "http://www.linkedin.com/in/yaniv-simpson-aa72b22a",
          "emailStatus": "verified",
          "profilePictureUrl": "https://media.licdn.com/dms/image/v2/D4E03AQGcPNAtlaWg_Q/profile-displayphoto-shrink_200_200/profile-displayphoto-shrink_200_200/0/1727456235617?e=1746057600&v=beta&t=H0oRIYlvlL9g9tn1l0_dyTA3t0entaHXla9rynoWrf8",
          "companyId": "6417adac44b9e90001139b89",
          "stateName": "Florida",
          "cityName": "Miami Beach",
          "countryName": "United States",
          "subDepartmentNames": "c_suite",
          "jobSeniority": "founder",
          "jobFunctions": "entrepreneurship",
          "contactPhoneNumbers": "+1 732-216-1680",
          "companyName": "The Conscious Bar",
          "rawAddress": "Miami Beach, FL",
          "linkedInUserId": "102254239",
          "creationDate": "2025-03-17T15:02:03.139Z",
          "sourceOfEmail": "crm_csv",
          "cleanedPhoneNumber": "+17322161680",
          "lastUpdatedDate": "2025-03-17T15:02:03.754Z",
          "presenceLevel": "full",
          "verifiedEmailStatus": "Verifying",
          "userTimeZone": "America/New_York",
          "connected": "No"
        }
      },
      {
        "json": {
          "id": "610c4135070339000135a9a0",
          "createdTime": "2025-04-02T10:33:18.000Z",
          "firstName": "Matt",
          "lastName": "McLean",
          "emailAddress": "matt@unclematts.com",
          "headline": "CEO & Founder",
          "linkedInProfileUrl": "http://www.linkedin.com/in/matt-mclean-5507733",
          "emailStatus": "verified",
          "companyId": "5f78953850e5fc008c884ca3",
          "stateName": "Florida",
          "cityName": "Clermont",
          "countryName": "United States",
          "subDepartmentNames": "c_suite",
          "jobSeniority": "founder",
          "jobFunctions": "entrepreneurship",
          "contactPhoneNumbers": "+1 352-394-8737",
          "companyName": "Uncle Matt's Organic",
          "rawAddress": "Clermont, Florida, United States",
          "linkedInUserId": "10850892",
          "creationDate": "2025-03-18T17:07:08.735Z",
          "sourceOfEmail": "crm_csv",
          "cleanedPhoneNumber": "+13523948737",
          "lastUpdatedDate": "2025-03-18T17:07:08.735Z",
          "presenceLevel": "full",
          "verifiedEmailStatus": "Verifying",
          "userTimeZone": "America/New_York",
          "connected": "No"
        }
      },
      {
        "json": {
          "id": "613cb73588503e0001a5d7a8",
          "createdTime": "2025-04-02T10:33:19.000Z",
          "firstName": "Henri",
          "lastName": "Boll",
          "emailAddress": "henri@artsorigin.com",
          "headline": "CEO/Founder",
          "linkedInProfileUrl": "http://www.linkedin.com/in/henri-boll-259b02a9",
          "emailStatus": "verified",
          "companyId": "60af5a1527cb6400019c93a1",
          "stateName": "New York",
          "cityName": "New York",
          "countryName": "United States",
          "subDepartmentNames": "c_suite",
          "jobSeniority": "founder",
          "jobFunctions": "entrepreneurship",
          "contactPhoneNumbers": "+1 973-792-0322",
          "companyName": "Artsorigin",
          "rawAddress": "New York, New York, United States",
          "linkedInUserId": "245499704",
          "creationDate": "2025-03-27T17:14:49.796Z",
          "sourceOfEmail": "crm_csv",
          "cleanedPhoneNumber": "+19737920322",
          "lastUpdatedDate": "2025-03-27T17:14:49.796Z",
          "presenceLevel": "full",
          "verifiedEmailStatus": "Verifying",
          "userTimeZone": "America/New_York",
          "connected": "No"
        }
      },
      {
        "json": {
          "id": "66f4043b1c0c870001274bab",
          "createdTime": "2025-04-02T10:33:28.000Z",
          "firstName": "Aaron",
          "lastName": "Cordovez",
          "emailAddress": "aaron@zulay.net",
          "headline": "Co-Founder & CEO",
          "linkedInProfileUrl": "http://www.linkedin.com/in/aaroncordovez",
          "emailStatus": "verified",
          "companyId": "5e582ce55c00fd00019d51ed",
          "stateName": "Florida",
          "cityName": "Clearwater",
          "countryName": "United States",
          "subDepartmentNames": "c_suite",
          "jobSeniority": "founder",
          "jobFunctions": "entrepreneurship",
          "companyName": "Zulay Kitchen",
          "rawAddress": "Clearwater, Florida, United States",
          "creationDate": "2025-04-01T16:47:33.832Z",
          "sourceOfEmail": "emailer_message_inbound",
          "lastUpdatedDate": "2025-04-01T16:47:33.832Z",
          "presenceLevel": "full",
          "verifiedEmailStatus": "Verifying",
          "userTimeZone": "America/New_York",
          "connected": "No"
        }
      },
      {
        "json": {
          "id": "66f40639fca58b000121dcec",
          "createdTime": "2025-04-02T10:33:39.000Z",
          "firstName": "Kate",
          "lastName": "Boyer",
          "emailAddress": "email_not_unlocked@domain.com",
          "headline": "Co-Founder and Board Member",
          "linkedInProfileUrl": "http://www.linkedin.com/in/kate-boyer-542142107",
          "emailStatus": "verified",
          "profilePictureUrl": "https://static.licdn.com/aero-v1/sc/h/9c8pery4andzj6ohjkjp54ma2",
          "companyId": "5500afc47369642de0e00600",
          "stateName": "Florida",
          "cityName": "Fort Lauderdale",
          "countryName": "United States",
          "subDepartmentNames": "c_suite",
          "jobSeniority": "founder",
          "jobFunctions": "entrepreneurship",
          "contactPhoneNumbers": "+1 833-576-1900",
          "companyName": "Anatomie Fashion",
          "connected": "No"
        }
      },
      {
        "json": {
          "id": "66f64a119309690001deea40",
          "createdTime": "2025-04-02T10:33:35.000Z",
          "firstName": "Gabriel",
          "lastName": "Shohet",
          "emailAddress": "gabriel@leavetheherdbehind.com",
          "headline": "Co-founder, Co-CEO",
          "linkedInProfileUrl": "http://www.linkedin.com/in/gabriel-shohet-02b532a7",
          "emailStatus": "verified",
          "companyId": "54fca1567369647e68a60400",
          "stateName": "Florida",
          "cityName": "Miami",
          "countryName": "United States",
          "subDepartmentNames": "c_suite",
          "jobSeniority": "founder",
          "jobFunctions": "entrepreneurship",
          "contactPhoneNumbers": "+44 78 5010 7659",
          "companyName": "Black Sheep Coffee",
          "rawAddress": "Miami, Florida, United States",
          "linkedInUserId": "380529827",
          "creationDate": "2025-03-28T06:58:48.204Z",
          "sourceOfEmail": "crm_csv",
          "cleanedPhoneNumber": "+447850107659",
          "lastUpdatedDate": "2025-03-28T06:58:48.717Z",
          "presenceLevel": "full",
          "verifiedEmailStatus": "Verifying",
          "userTimeZone": "America/New_York",
          "connected": "No"
        }
      }
    ],
    "Get_Profiles": [
      {
        "json": {
          "sessionId": "b2753d07f941e30fea88f35c1199bcbf",
          "data": [
            {
              "name": "Vishwajit Gosavi",
              "linkedin_url": "https://www.linkedin.com/in/vishwajit-gosavi-growth",
              "image_url": "https://media.licdn.com/dms/image/v2/D4E03AQGHaYS8CaUt-Q/profile-displayphoto-shrink_100_100/B4EZUhW_FFGYAU-/0/1740021430105?e=1749081600&v=beta&t=eSTLBlc7mUZuuoSIMLfY0rQQ_Ld2q8YGAVWk-nase2E",
              "tagline": "N8N Expert (Partner) | Transforming Complex Workflows with AI Agents | Growth Consultant & CAC Optimizer",
              "comment": "Debajit Raha, this approach balances automation with personalization brilliantly! it captures genuine connections without losing authenticity. excited to see the demo! ",
              "likes": "2",
              "replies": null,
              "relation": " • 1st"
            },
            {
              "name": "Browserflow",
              "linkedin_url": "https://www.linkedin.com/company/browserflow-io/posts",
              "image_url": null,
              "tagline": "1,039 followers",
              "comment": "Vishwajit Gosavi totally agree!",
              "likes": "1",
              "replies": null,
              "relation": "1d"
            },
            {
              "name": "Apify",
              "linkedin_url": "https://www.linkedin.com/company/apifytech/posts",
              "image_url": null,
              "tagline": "11,192 followers",
              "comment": "Great to see Apify in your stack Debajit Raha 🚀 ",
              "likes": "1",
              "replies": null,
              "relation": "10h"
            },
            {
              "name": "Browserflow",
              "linkedin_url": "https://www.linkedin.com/company/browserflow-io/posts",
              "image_url": null,
              "tagline": "1,039 followers",
              "comment": "Amazing workflow Debajit Raha!",
              "likes": "1",
              "replies": null,
              "relation": "1d"
            }
          ],
          "reactions": [
            {
              "name": "Daniel Čížek",
              "linkedin_url": "https://www.linkedin.com/in/ACoAAEagnJIBUfSeAamZ5XI7FBbGs1PEkjnWQlU",
              "image_url": "https://media.licdn.com/dms/image/v2/D4E03AQHC6V6npJ1how/profile-displayphoto-shrink_100_100/profile-displayphoto-shrink_100_100/0/1709827698688?e=1749081600&v=beta&t=j86n4A1VKh4xqryjNpwTOcJjNV5eWxjIF4UhEu8spno",
              "tagline": "Online Marketing | SEO | Social media marketing | Affiliate marketing | Web Design | Wordpress | Shopify | Cars",
              "reaction_type": "like",
              "relation": "· 1st"
            },
            {
              "name": "Kees Bosch",
              "linkedin_url": "https://www.linkedin.com/in/ACoAACK9VWMBceAzK_lzBrzQhlPt0rJWRuk7r70",
              "image_url": "https://media.licdn.com/dms/image/v2/D4E03AQGBZlGyfqtR3A/profile-displayphoto-shrink_100_100/B4EZO_qXgEGQAU-/0/1734087375239?e=1749081600&v=beta&t=lU9NJDt8qF-_J2pjiC2NbOQvsgJv_h9HkUjMsI_aGiI",
              "tagline": "Automation · Scraping · Data | Co-Founder @ Browserflow & Data Engineer @ Ilionx",
              "reaction_type": "like",
              "relation": "· 1st"
            },
            {
              "name": "Vishwajit Gosavi",
              "linkedin_url": "https://www.linkedin.com/in/ACoAAE_GXwMBm-VVu0Ra5lLV8FOxfzjnV0cUE50",
              "image_url": "https://media.licdn.com/dms/image/v2/D4E03AQGHaYS8CaUt-Q/profile-displayphoto-shrink_100_100/B4EZUhW_FFGYAU-/0/1740021430105?e=1749081600&v=beta&t=eSTLBlc7mUZuuoSIMLfY0rQQ_Ld2q8YGAVWk-nase2E",
              "tagline": "N8N Expert (Partner) | Transforming Complex Workflows with AI Agents | Growth Consultant & CAC Optimizer",
              "reaction_type": "like",
              "relation": "· 1st"
            },
            {
              "name": null,
              "linkedin_url": "https://www.linkedin.com/company/apifytech/",
              "image_url": null,
              "tagline": "11,192 followers",
              "reaction_type": "like",
              "relation": null
            },
            {
              "name": null,
              "linkedin_url": "https://www.linkedin.com/company/browserflow-io/",
              "image_url": null,
              "tagline": "1,039 followers",
              "reaction_type": "like",
              "relation": null
            }
          ],
          "comments": [
            {
              "name": "Vishwajit Gosavi",
              "linkedin_url": "https://www.linkedin.com/in/vishwajit-gosavi-growth",
              "image_url": "https://media.licdn.com/dms/image/v2/D4E03AQGHaYS8CaUt-Q/profile-displayphoto-shrink_100_100/B4EZUhW_FFGYAU-/0/1740021430105?e=1749081600&v=beta&t=eSTLBlc7mUZuuoSIMLfY0rQQ_Ld2q8YGAVWk-nase2E",
              "tagline": "N8N Expert (Partner) | Transforming Complex Workflows with AI Agents | Growth Consultant & CAC Optimizer",
              "comment": "Debajit Raha, this approach balances automation with personalization brilliantly! it captures genuine connections without losing authenticity. excited to see the demo! ",
              "likes": "2",
              "replies": null,
              "relation": " • 1st"
            },
            {
              "name": "Browserflow",
              "linkedin_url": "https://www.linkedin.com/company/browserflow-io/posts",
              "image_url": null,
              "tagline": "1,039 followers",
              "comment": "Vishwajit Gosavi totally agree!",
              "likes": "1",
              "replies": null,
              "relation": "1d"
            },
            {
              "name": "Apify",
              "linkedin_url": "https://www.linkedin.com/company/apifytech/posts",
              "image_url": null,
              "tagline": "11,192 followers",
              "comment": "Great to see Apify in your stack Debajit Raha 🚀 ",
              "likes": "1",
              "replies": null,
              "relation": "10h"
            },
            {
              "name": "Browserflow",
              "linkedin_url": "https://www.linkedin.com/company/browserflow-io/posts",
              "image_url": null,
              "tagline": "1,039 followers",
              "comment": "Amazing workflow Debajit Raha!",
              "likes": "1",
              "replies": null,
              "relation": "1d"
            }
          ],
          "message": "Successfully scraped profiles from the comments under the post",
          "image_url": "https://app.browserflow.io/session/b2753d07f941e30fea88f35c1199bcbf/screenshot/1743708737.png",
          "credits_used": 17
        }
      }
    ]
  },
  "connections": {
    "When clicking ‘Test workflow’": {
      "main": [
        [
          {
            "node": "Get_Profiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify_Scraper": {
      "main": [
        [
          {
            "node": "Lead_List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Items": {
      "main": [
        [],
        [
          {
            "node": "checkifconnected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "getprofile": {
      "main": [
        [
          {
            "node": "Send_custom_message",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "SendConnectionRequest",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "SendLinkedinMessage",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "sendconnectionrequest": {
      "main": [
        [
          {
            "node": "UpdateConnectionStatus",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "UpdateConnectionStatus",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "checkifconnected": {
      "main": [
        [
          {
            "node": "If_Not_Connected_True",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lead_List1": {
      "main": [
        [
          {
            "node": "If_Not_Connected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If_Not_Connected": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "If_Not_Connected_True": {
      "main": [
        [
          {
            "node": "getprofile",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send_custom_message": {
      "main": [
        [
          {
            "node": "sendconnectionrequest",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "CheckifConnected": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendConnectionRequest": {
      "main": [
        [
          {
            "node": "Update_Connection_Status",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Update_Connection_Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "SendLinkedinMessage": {
      "main": [
        [
          {
            "node": "Update_MessageSent_Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "UpdateConnectionStatus": {
      "main": [
        [
          {
            "node": "Loop Over Items",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get_Profiles": {
      "main": [
        [
          {
            "node": "Change_Data_Structure",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change_Data_Structure": {
      "main": [
        [
          {
            "node": "Store_Profiles",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Store_Profiles": {
      "main": [
        [
          {
            "node": "loop",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "loop": {
      "main": [
        [],
        [
          {
            "node": "CheckifConnected",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI": {
      "ai_languageModel": [
        [
          {
            "node": "Send_custom_message",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "b7402597-f156-468f-b962-e8c7f734ae25",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "fece728f3ebdd64f35ab66295c0b9f149947402c212c21822fb0d7a9af235bec"
  },
  "id": "lGQrCLQVk36EisRg",
  "tags": []
}